body {
  background: #f6f6fa;
  /* зовнішні відступи */
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  /* padding: 40px 40px 40px 40px; замінює код зверху*/

  font-family: "Montserrat", sans-serif;
}

p {
  text-align: justify;
}

.wrapper {
  background: #fff;
  display: flex;
  flex-direction: row-reverse; /* розміщення контенту */
}

/* Main Content */

.main-content {
  padding-left: 40px;
  padding-top: 54px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box; /* контейнер не розширюється від контенту */
}

/* Sidebar */

.sidebar {
  background: #cedadc;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 360px;
}

.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

/* Contacts */

.contacts-container {
  margin-bottom: 40px;
}

.contacts-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-type {
  color: #161d2a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  margin-right: 8px;
}

.contacts-link {
  color: #002d1d;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.contacts-element {
  margin-top: 0px;
  margin-bottom: 8px;
}

/* Skills */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
}

.tech-skills-title {
  margin-bottom: 8px;
}

.soft-skills-title {
  margin-bottom: -4px;
}

.skills-title-type {
  color: #161d2a;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 2px; /* у гедерів дефолтно виставлені відступи margin */
  margin-left: -16px; /* можна писати від'ємні значення */
  margin-right: 0px;
}

.skills-list {
  padding-left: 25px;
}

.skills-list-item {
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
