body {
  background: #f6f6fa;
  /* зовнішні відступи */
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  /* padding: 40px 40px 40px 40px; замінює код зверху*/

  font-family: "Montserrat", sans-serif;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  text-align: justify;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: row-reverse; /* розміщення контенту */
}

/* Main Content */

.main-content {
  padding-left: 40px;
  padding-top: 54px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box; /* контейнер не розширюється від контенту */
}

/* Sidebar */

.sidebar {
  background: #cedadc;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 360px;
}

.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

/* Contacts */

.contacts-container {
  margin-bottom: 40px;
}

.contacts-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-type {
  color: #161d2a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  margin-right: 8px;
}

.contacts-link {
  color: #002d1d;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.contacts-element {
  margin-top: 0px;
  margin-bottom: 8px;
}

/* Skills */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
}

.tech-skills-title {
  margin-bottom: 8px;
}

.soft-skills-title {
  margin-bottom: -4px;
}

.skills-title-type {
  color: #161d2a;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 2px; /* у гедерів дефолтно виставлені відступи margin */
  margin-left: -16px; /* можна писати від'ємні значення */
  margin-right: 0px;
}

.skills-list {
  padding-left: 25px;
}

.skills-list-item {
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

/* Main Content */

.my-profession {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px; /* 121.429% */
  margin-top: 0;
  margin-bottom: 8px;
}

.my-name {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px; /* 122.222% */
  margin-top: 0;
  margin-bottom: 12px;
}

.my-description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.my-info {
  margin-bottom: 40px;
}

/* My Projects */

.my-projects-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px; /* 122.727% */
  margin-top: 0;
  margin-bottom: 8px;
}

.my-projects-item {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.my-projects-list {
  padding-left: 16px;
}

.my-projects-item-link {
  color: #1ac589;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-decoration-line: underline;
}

.my-projects-item-tech {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.my-projects-container {
  margin-bottom: 40px;
}

/* Work Experience */

.work-experience-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px; /* 122.727% */
  margin-top: 0;
  margin-bottom: 8px;
}

.work-experience-company {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
  margin-top: 0;
  margin-bottom: 8px;
}

.company-name {
  color: #1ac589;
}

.work-experience-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px; /* 125% */
  margin-bottom: 8px;
}

.work-experience-period-separator {
  color: #494949;
  font-style: bold;
}

.work-experience-duties-list {
  padding-left: 16px;
}

.work-experience-duties-list-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.work-experience-container {
  margin-bottom: 12px;
}

/* Education */

.education-container {
  margin-bottom: 10px;
}

.education {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 8px;
}

.education-caption {
  color: #1ac589;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-type {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-duration {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px; /* 125% */
  margin-bottom: 8px;
}
